#sponsors {
	margin: 0px auto;
	width: 95%;
	height: 500px;
}

#engsoc-logo {
	margin: 0px auto;
	height: 100px;
	
}

#mech-logo {
	margin: 0px auto;
	height: 90px;
	
}

.sponsor-image {
	border: 0;
}

.sponsor-tab {
	float: left;
	margin-right: 30px;
}

.sponsor-row {
	clear:both;
	height: 50px;
	margin-bottom: 70px;
}

.sponsor-title {
	font-size: 15px;
	margin-bottom: 5px;
}
